/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth
}
.wrapper{
/*	background: #E5BFC0;*/
	width:1920px;
	height:auto;
}
#bd img{
	height: 1005px;
	position: absolute;
}
#bd img:nth-child(2){
	position: absolute;
	top:2856px;
	height: 624px;
}
#bd img:nth-child(3){
	position: absolute;
	top:4277px;
	width:1920px;
}
header{
/*	background: #F9D2D3;*/
	width:1920px;
	height:180px;
	position:fixed;
	z-index: 100;
}
.container{
/*	background: #B05253;*/
	width:1170px;
	margin: 0 auto;
}
.logo{
/*	background: #721D1E;*/
	width:60px;
	height:180px;
	float:left;
}
.menu{
/*	background:#3D090A;*/
	width:1110px;
	height:180px;
	float:right;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	
}
.menu ul{
/*	background: #B91114;*/
	height: 25px;
	display:flex;
	list-style: none;
	float: right;
	margin-top:75px;

}
.menu ul li{
	
	margin-left: 40px;
}
.menu ul li a{
	color:hsla(0,0%,37%,1.00);
	text-decoration: none;
	margin-top: 8px;
}
.menu ul li:nth-child(1) a{
	color: hsla(0,0%,0%,1.00);
}
.menu ul li a:hover{
	color: hsla(0,0%,0%,1.00);
}
.menu ul li:nth-child(6) a{
    color: hsla(0,0%,100%,1.00)!important;
	padding: 8px 25px;
	background: hsla(0,0%,0%,1.00);
}
.content{
/*	background: #CCE8C0;*/
	width:1920px;
	height:auto;
}
.baner{
/*	background: #AA8E00;*/
	width:1170px;
	height:1005px;
}
.concept{
/*	background: #5A770E;*/
	width:1170px;
	height:auto;
	position: relative;	
}
.concept .myConcepts{
	height:190px;
/*	background: hsla(359,100%,43%,1.00);*/
	padding-top: 70px;
}
.boxa{
/*	background: #085334;*/
	width:1170px;
	height:1420px;
}
.boxa img{
	width:384px;
}
.box{
/*	background: #620507;*/
	width:380px;
	height:1420px;
	float:left;
}
.bg{
/*	background: #2391F7;*/
	margin-bottom: 43px;
	width:380px;
	overflow: hidden;
}
.box-2{
	margin: 0px 15px;
}
.box1{
	height:510px;
}
.box2{
	height:322px;
}
.box3{
	height:453px;
}
.box4{
	height:404px;
}
.box5{
	height:502px;
}
.box6{
	height:428px;
}
.box7{
	height:476px;
}
.box8{
	height:336px;
}
.box9{
	height:487px;
}
.boxb{
/*	background: hsla(218,40%,67%,1.00);*/
	height:409px; 
	padding-top:90px;
	text-align:center;
	
}
.boxc{
/*	background: hsla(192,57%,33%,1.00);*/
	height: 517px;
	
}
.boxc ul{
/*	background: hsla(302,72%,51%,1.00);*/
	list-style: none;
	width:1092px;
	height: 517px;
	margin: auto;
}
.boxc ul li{
/*	background:hsla(359,44%,42%,1.00);*/
	width:300px;
	height: 517px;
	float: left;
	position: relative;
}
.boxc ul li:nth-child(2){
	margin: 0px 96px;
}
.circle{
	border:2px solid #dddddd;
	width:82px;
	height:82px;
	border-radius: 50%;
}
li:nth-child(1) .circle img{
	width:28px;
	margin:23px 27px;
}
li:nth-child(2) .circle img{
	width:28px;
	margin:18px 25px;
}
li:nth-child(3) .circle img{
	width:28px;
	margin:24px 27px;
}
.d1{
    margin:35px 0px 30px 0px;
}

.logo-a {
	background: #000000;
	width:62px;
	height:62px;
	border-radius: 50%;
	margin-top: 64px;
}
.logo-a img{
	margin: 17px 15px;
	
}
.contactme {
/*	background: hsla(359,57%,64%,1.00);*/
	width:565px;
	height: 300px;
	top:370px;
	position: relative;	
}
.contactme h1{
margin-top: 20px;
}
.contactme .h3{
    margin-top: 25px;
	width:565px;
	height: 44px;
}
.contactme a{
    position: absolute;
	top:224px;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 68px;
	font-weight: 900;
/*	back*/
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 600;
/*	semi-bold*/
}
h3{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weigh: 400;
	color: #666666;
	margin-bottom: 9px;
/*	reguler*/
	}
h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: 700;
/*bold*/
}
h5{
	font-family: 'Montserrat', sans-serif;
	font-size: 52px;
	font-weight: 700;
/*bold*/
}
h6{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 700;
	color:#999999;
/*bold*/
}
.button{
	padding:18px 33px ;
	background: hsla(0,0%,0%,1.00);
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weigh: 600;
	color: hsla(0,0%,100%,1.00);
	transition: 0.4s;
}
.button:hover{
	opacity: 0.5;
}
.getintouch{
/*	background: hsla(359,80%,45%,1.00);*/
}
.textbox {
	
/*	background: hsla(54,72%,33%,1.00);*/
	width:777px;
	height:890px;
	margin:auto;
	margin-top: 90px;
}

.textbox1,.textbox2 {
	margin-bottom: 42px;
}
.textbox2 h6{
margin-bottom: 20px;
}
.textbox1 input{
	height:20px;
	width:777px;
	background: hsla(0,0%,0%,0.00);
	border:none;
	border-bottom:solid 2px #e2e2e2;
	
}
.textbox2 textarea{
	width:777px;
	height:200px;
	background: hsla(0,0%,0%,0.00);
	border:none;
	border:solid 2px #e2e2e2; 
}
.textbox3{
	margin-top: 53px;
	text-align: center;
}
.textbox3 input{
	border: none;
	padding:18px 61px ;
}
footer{
/*	background: hsla(168,84%,23%,1.00);*/
	height:500px;
	position: relative;
}
footer p{
	font-family: Myriad Pro;
	font-size: 14px;
	color: #555555;
}
footer ul{
	font-size: 40px;
/*	background: hsla(359,40%,50%,1.00);*/
	width:700px;
	margin-bottom: 250px
}
footer ul li{
	display:inline-flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin:0px 10px;
	
}